{{!-- Just some plain text --}}

{{!-- The Data from our Database --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
      
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/item">Menu</a></li>
              <li><a href="/customer">Customers</a></li>
              <li><a href="/employee">Employees</a></li>
              <li><a href="/ordersbyemployee">Orders by employee</a></li>
              <li><a href="/order">Orders</a></li>
              <li><a href="/orderDetails">Order details<span class="sr-only">(current)</span></a></li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h2 class="text-center">Overview</h2>
            <p class="lead text-center">Dragon Express is a family-owned Chinese restaurant that serves authentic Sichuan cuisine. Chinese cuisine encompasses the numerous cuisines originating from China, as well as overseas cuisines created by the Chinese diaspora. Because of the Chinese diaspora and historical power of the country, Chinese cuisine has influenced many other cuisines in Asia and beyond, with modifications made to cater to local palates. Chinese food staples such as rice, soy sauce, noodles, tea, chili oil, and tofu, and utensils such as chopsticks and the wok, can now be found worldwide.
            </p>
        </div>
    </div>